{% extends 'plantilla.html' %}
{% load static %}

{% block body %}
<main>
    <br>
<h1 class="text-center">Tus publicaciones</h1>
<hr>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th>Fecha de Publicación</th>
            <th>Fecha de Actualización</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for propiedad in propiedades %}
        <tr>
            <td>{{propiedad.id_propiedad}}</td>
            <td>{{ propiedad.titulo }}</td>
            <td>
                {% if propiedad.imagen %}
                    <img src="{{propiedad.imagen.url}}" alt="" height="80px">
                {% else %}
                    Ninguna
                {% endif %}
            </td>
            <td>{{ propiedad.descripcion|truncatewords:10 }}</td>
            <td>${{ propiedad.precio }}</td>
            <td>{{ propiedad.ubicacion }}</td>
            <td>{{ propiedad.estado }}</td>
            <td>{{ propiedad.fecha_publicacion|date:"d/m/Y H:i" }}</td>
            <td>{{ propiedad.fecha_actualizacion|date:"d/m/Y H:i" }}</td>
            <td>
                <a href="editarPropiedad/{{propiedad.id_propiedad}}" class="btn btn-outline-warning">
                    <i class="fa fa-pen"></i></a>
                <a style="color: red;" href="#" onclick="confirmarEliminacion('{{ propiedad.id_propiedad }}')" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <a href="nuevaPropiedad" class="btn btn-primary">
        Agregar Nueva Propiedad
    </a>
</div>
<br>
<br>


<script>
    function confirmarEliminacion(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¡Esta acción no se puede deshacer!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `eliminarPropiedad/${id}`;
            }
        });
    }
</script>
</main>

{% endblock %}